*{

font-family:Century Gothic;
font-size:12px;
border-collapse:collapse;
margin:0px;
}

#fija{

z-index:1;
left:50%;
margin-left:-500;
position:fixed;

}

.titulos{
border-left:1px solid #fff;
background-color:#146EB4;
max-width:100px;
min-width:100px;
height:40px;
font-weight:bold;
text-align:center;
padding:5px;
color:white;
}

#resultados{
width:1000px;
left:50%;
margin-left:-500;
position:relative;
top:140px;
background-color:;
}

.resultados{

border-left:1px solid #fff;
max-width:100px;
min-width:100px;
background-color:;
text-align:center;
padding:5px;

}

.deductiva{

border-left:1px solid #fff;
max-width:100px;
min-width:100px;
height:40px;
font-weight:bold;
text-align:right;
padding:5px;
color:red;

}

#par{
background-color:#DBD7D2;
}