body{
margin:0px;
}

#fondo{
z-index:1;
background-color:#146EB4;
position:fixed;
height:60px;
width:100%;
}

.datos_inmueble{
padding-top:10px;
z-index:1;
width:900px;
left:50%;
height:185px;
margin-left:-450px;
position:fixed;
top:60px;
background-color:white;
}

.encabezados{
text-align:center;
font-weight:bold;
font-size:15px;
background-color:;
border-bottom:2px solid #000;
}

.contenedor_h{

width:100%;
background-color:;
}

#nivel_servicio{

z-index:2;
left:50%;
width:900px;
margin-left:-450;
position:fixed;
top:255px;
height:90px;
background-color:white;
}

#tabla_nivel{border-collapse:collapse;}
#estabilizacion{border-collapse:collapse;}

.titulo_h{

height:30px;
border:1px solid #000;
font-weight:bold;
font-size:12px;
width:112px;
text-align:center;
background-color:#146EB4;
color:white;

}

.resultados_h{

font-size:12px;
text-align:center;
border:1px solid #000;

}

#inmueble{

min-width:600px;
background-color:;
margin-left:100px;
font-size:12px;

}

#inmueble tr td {

padding:3px;

}

#inmueble tr td a{

font-weight:bold;
padding-left:15px;

}

table{border-collapse:collapse;}

#inmueble tr td a{c

padding:10px;

}

#tabla_estabilizacion{

padding-top:10px;
z-index:1;
background-color:white;
width:900px;
height:100px;
top:340px;
left:50%;
margin-left:-450px;
position:fixed;

}

#tt_pendientes{

text-align:center;
left:50%;
margin-left:-450px;	
top:450px;
background-color:;
width:900px;
position:absolute;
}


.detalle{
text-align:center;
font-size:12px;
}
#estabilizacion td{

min-width:112px;
max-width:112px;

}

.resultados{

border-bottom:1px solid #000;

}

.resultados_fac{
text-align:center;
border-bottom:1px solid #000;
}


.titulo{

width:60px;
text-align:right;
font-weight:bold;


}

#titulo{
z-index:1;
height:30px;
width:900px;
background-color:white;
position:fixed;
}

#resultados_p{


position:absolute;
top:30px;
width:900px;

background-color:;

}

.resultados_c{

font-size:12px;
min-width:112px;

height:30px;
border:1px solid #000;
font-weight:;
font-size:12px;
width:112px;
text-align:center;

}



















