
#login{

color:white;
font-family:Century Gothic;
padding:20px;
width:290px;

margin-top:200px;
margin-left:530px;

border:1px solid #002255;
border-radius:13px;
background-color:#002255;
box-shadow:1px 2px 10px 2px #002255;

}

#boton{

color:white;
overflow:visible;
background:#00BFFF;
border-radius:5px;
height:30px;
width:100px;
border:0px;

}

#boton:hover{

color:#00BFFF;
background-color:white;
}


#error{

color:red;
margin-left:560px;

}

#consulta{

background-color:	;
width:300px;
height:100px;
margin-left:300px;
	
}

#consulta div{

padding:5px;

}

body{

margin-left:200px;

}

#resultados {

width:900px;
padding-top:20px;

}

td {

background-color:#cfcfc4;
text-align:center;
width:100px;
border:5px;
font-family:Century Gothic;
font-size:13px;

}

#headtable{

background-color:#00BFFF;
height:50px;
border-radius:3px;
color:white;

}

#headtablecero{
background-color:white;

}


table{

border:0px;

}

#datos_inmueble tr td{

text-align:left;
}

#domicilio{

width:800px;
background-color:white;

}

#titulo td{

height:50px;
width:900px;		
font-size:15px;
font-family:Century Gothic;

}

#consulta_falsa {

background-color:#cfcfc4;
margin-top:200px;
margin-left:;
vertical-align:middle;
border-radius:5px;

}

#consulta_falsa div  {

width:300px;
background-color:;
margin-left:300px;
padding:10px;
background-color:;

}
	
#consulta_falsa div label ,div input{


margin-left:60px;

}














