
#recuadro{

background-color:gray;
margin-top:250px;
margin-left:0px;
margin-right:0px;


}
#menus{

background-color:#146EB4;
margin-left:150px;

}

*{

font-family:Century Gothic;
list-style:none;
text-decoration:none;
margin:0px;
padding:0px;

}

.nav > li{

float:left;

}

.nav li a{

height:150px;
width:250px;
background-color:#00BFFF;
color:#fff;
display:block;
border:0.5px solid;
display:table-cell;
vertical-align:middle;
text-align:center;

}

.nav li a:hover {
background:white;
color:#00BFFF;
font-weight:bold;
border-radius:10px;
}
.nav li ul {
display:none;
position:absolute;
min-width:140px;
}

.nav li:hover > ul {
display:block;
}
