
#fondo{

z-index:1;
background-color:#146EB4;
position:fixed;
height:60px;
width:100%;

}

#encabezados{

z-index:2;
background-color:;
position:fixed;
margin-left:200px;
}


#consulta{

height:90px;
text-align:center;
background-color:#146EB4;
position:absolute;
top:200px;
margin-left:200px;
width:900px;
color:white;
margin-top:30px;
padding:10px;
font-weight:bold;

}

input:hover{
background-color:white;
color:#146EB4;
border:0px;
padding:5px;
}

form input{

background-color:#146EB4;
color:white;
font-weight:bold;
padding:5px;
border:0px;
}

#tabla{

width:100%;
z-index:1;
position:fixed;
top:60px;
background-color:white;
}

#resultados{

border-bottom:solid #146EB4;
position:relative;
top:10px;
background-color:;

}

#fila{

width:100px;
border-bottom:solid gray;
}

.par:hover, .inpar:hover{

background-color:gray;

} 

form{

padding-top:20px;

}

form label{

padding-left:30px;

}

#datos{

border-bottom:solid #146EB4;
text-align:center;
height:30px;

}

#datos label{

padding-left:10px;
width:250px;
font-weight:bold;
background-color:;

}

#datos table{

width:100%;

}

#nr,#nc_np,#nsr,#nsm,#cns,#ins,#fac,#ded{

font-size:12px;
font-weight:bold;
height:40px;
text-align:center;
background-color:#93C572;
width:100px;

}

#id_r,#horario_r,#ps_r,#nr_r,#nc_np_r,#nsr_r,#nsm_r,#cns_r,#ins_r{

background-color:;
font-size:12px;
text-align:center;
width:100px;

}
#fac_r,#ded_r{
text-align:right;
width:100px;
font-size:12px;
}
#site_r{

font-size:12px;
max-width:150px;
width:150px;
}

.titulo{

font-size:12px;
font-weight:bold;
height:40px;
text-align:center;
background-color:#FFA07A;
width:100px;

}
.titulo_site{

font-size:12px;
font-weight:bold;
height:40px;
text-align:center;
background-color:#FFA07A;
width:150px;

}


div.centertabla{

text-align:center;
top:0px;
}

div.centertabla table {

       margin: 0 auto;
       text-align: left;
}






