#fondo{
width:100%;
height:60px;
background-color:#146EB4;
position:fixed;
z-index:1;
}
#contenedor1{

left:50%;
margin-left:-450;
position:fixed;
height:260px;
top:60px;
width:900px;
background-color:;

}
#contenedor2{
left:50%;
margin-left:-450;
position:fixed;
background-color:;
top:320px;
width:900px;
height:300px;
}
#datos_inmueble{
background-color:;
height:160px;
}
#nivel_servicio{
background-color:;
height:100px;
}
#estabilizacion{
height:90px;
background-color:;
text-align:center;
}
#titulo_tt{
z-index:1;
width:900px;
position:fixed;
top:410px;
background-color:;
}
#tt_resultados{
left:50%;
margin-left:-395px;
width:805px;
top:30px;
height:200px;
position:relative;
background-color:;
}
#pendientes{
overflow:scroll;
}
/*Estilos de Hoja*/

table{
border-collapse:collapse;
font-size:12px;
}
.inmueble{
min-width:700px;
max-width:700px;
}
.titulo{
width:60px;
text-align:right;
font-weight:bold;
}
.resultados{
padding-left:7px;
border-bottom:1px solid #000;
}
.encabezados{
text-align:center;
font-weight:bold;
font-size:15px;
background-color:;
border-bottom:2px solid #000;
}
.titulo_h{
height:30px;
border:1px solid #000;
font-weight:bold;
font-size:12px;
width:112px;
text-align:center;
background-color:#146EB4;
color:white;
}
.resultados_h{

width:112px;
font-size:12px;
text-align:center;
border:1px solid #000;
}
.detalle{
text-align:center;
font-size:12px;
}
.resultados_c{

font-size:12px;
min-width:112px;
height:30px;
border:1px solid #000;
font-weight:;
font-size:12px;
width:112px;
text-align:center;

}


