*{

font-family:calibri;

}

.title_tabla1{

font-size:12px;
font-weight:bold;
height:40px;
text-align:center;
width:50px;
background-color:#FFA07A;
border-radius:0px;
border:0px;
width:150px;

}

#ps{

width:70px;

}

#Nr{

width:70px;
}
#tpx{

width:70px;

}

#noinmueble{

width:60px;
}

.title_tabla2{

font-size:12px;
font-weight:bold;
height:40px;
text-align:center;
width:50px;
background-color:#93C572;
border-radius:0px;
border:1px;
width:150px;

}

#facturacion{

background-color:#FFA500;

}


}

#title_tabla2{

text-align:center;
width:50px;
background-color:#77DD77;
border-radius:0px;
border:0px;

}

#par{


background-color:#D3D3D3;
}

