#fondo{

z-index:1;
background-color:#146EB4;
position:fixed;
height:60px;
width:100%;

}
#encabezados{

z-index:2;
background-color:;
position:fixed;
margin-left:200px;
}

*{
border-collapse:collapse;
}


.recuadro{
width:960px;
overflow:auto;
height:100%;
position:fixed;
left:50%;
margin-left:-480px;
top:60px;
background-color:;

}

.titulos{
z-index:1;
position:fixed;
top:60px;
width:960px;
background-color:white;
}

.titulos tr td{
font-weight:bold;
font-size:13px;
text-align:center;
width:120px;
height:30px;
background-color:;
border-bottom:1px solid #000;
}

.resultados{
position:absolute;
top:35px;
width:960px;

}
.resultados tr td{
overflow:auto;
font-weight:;
font-size:12px;
text-align:center;
width:120px;
height:30px;
background-color:;
}

.resultados tr:hover{
font-weight:bold;
cursor:pointer;
}

.bandera1{
background-color:#FF2800;
}
.bandera2{
background-color:#FFEF00;
}
.bandera3{
background-color:orange;
}



















