*{

font-family:calibri;

}

.titulo{
text-align:center;
background-color:#779ECB;
width:150px;

}

.datos{

text-align:center;

}


div label{

float:left;
background-color:;
width:110px;

}

p{

background-color:;

}



form{


width:600px;

}

